PORT=your_port
API_KEY=your_key_here
SEPOLIA_RPC_URL=https://eth-sepolia.../API_KEY
MAINNET_RPC_URL=https://eth-mainnet.../API_KEY
PRIVATE_KEY=0x...
FORK_URL=http://...
BINANCE_TESTNET_API_KEY=your_key_here
BINANCE_TESTNET_SECRET=your_secret_here
